

<div class="panel panel-default">
  <div class="panel-heading panel-heading-custom" style="background-color:#fbb41a">
    <!-- <h3 class="panel-title"><h1 style="text-transform: uppercase"><%= @characters%></h1></h3> -->
    <h3 class="panel-title"><h1 style="text-transform: uppercase"><%= @snoopy.char_name%></h1></h3>

  </div>
  <div class="panel-body" style="background-color:rgba(238, 171, 26, 0.2)">
    <%= image_tag (@snoopy.char_image) , :class=>"img-responsive center-block"%>
    <br>
    <div class="centralized">
    <span>Character first appearance was on:  <%= @snoopy.char_found %> </span>
  </div>
    <br>
    <h4> Description on character:</h4>
    <p> <%= @snoopy.char_desc %></p>
    <h4> Did you know:</h4>
    <p> <%= @snoopy.char_dyknow %></p>
    <div class="centralized">
  <%= link_to 'Edit', edit_snoopy_path(@snoopy),  class:"btn btn-default" %>

  </div>
</div>
</div>
