<%= form_for(photo_gallery) do |f| %>
  <% if photo_gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo_gallery.errors.count, "error") %> prohibited this photo_gallery from being saved:</h2>

      <ul>
      <% photo_gallery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :snoopies %>
    <%= f.text_field :snoopies %>
  </div>

  <div class="field">
    <%= f.label :image_name %>
    <%= f.text_field :image_name %>
  </div>

  <div class="field">
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
  </div>

  <div class="field">
    <%= f.label :image_desc %>
    <%= f.text_field :image_desc %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
