<p id="notice"><%= notice %></p>

<p>
  <strong>Snoopies:</strong>
  <%= @photo_gallery.snoopies %>
</p>

<p>
  <strong>Image name:</strong>
  <%= @photo_gallery.image_name %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @photo_gallery.image_url %>
</p>

<p>
  <strong>Image desc:</strong>
  <%= @photo_gallery.image_desc %>
</p>

<%= link_to 'Edit', edit_photo_gallery_path(@photo_gallery) %> |
<%= link_to 'Back', photo_galleries_path %>
