
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-custom" style="background-color:#fbb41a">
      <h3 class="panel-title"><h1 style="text-transform: uppercase"><%= @characters%></h1></h3>
    </div>
    <div class="panel-body" style="background-color:rgba(238, 171, 26, 0.2)">
      <%= image_tag (@current_image) , :class=>"img-responsive center-block"%>
       <br>
        <p> <%= @current_title %></p>
        <p> <%= @current_desc %></p>
        <p> <%= @dyknow %></p>
    </div>
  </div>
